version: '3.8'

services:
  database:
    image: mongo:latest
    container_name: mongo-database
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app_network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile  # Make sure this points to the Next.js Dockerfile
    container_name: nextjs_app
    ports:
      - "8000:8000"
    environment:
      - DB_URL=mongodb://mongo-database:27017/app
    depends_on:
      - database
    networks:
      - app_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - DB_URL=mongodb://mongo-database:27017/app
    depends_on:
      - database
    networks:
      - app_network

volumes:
    mongo-data:
      driver: local

networks:
  app_network:
    driver: bridge
